openapi: 3.1.3
servers:
  - url: https://api.com
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Enter your JWT token
  schemas: {}
info:
  title: Spiceflow Documentation
  description: Development documentation
  version: 0.0.0
paths:
  /:
    get:
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema: {}
        default:
          description: ''
          content:
            '*/*':
              schema: {}
      x-fern-sdk-group-name: one
      x-fern-sdk-method-name: take
  /stream:
    get:
      x-fern-streaming:
        format: sse
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                  timestamp:
                    type: number
                required:
                  - count
                  - timestamp
        default:
          description: ''
          content:
            '*/*':
              schema: {}
      tags:
        - example-tag
      summary: Stream Endpoint
      description: |2-

                Returns an async generator when used in the sdk

                - Uses server sent events
                - But also has a response schema

  /users/{id}:
    get:
      parameters:
        - schema:
            type: string
          in: path
          name: id
          required: true
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema: {}
        default:
          description: ''
          content:
            '*/*':
              schema: {}
      tags:
        - example-tag
  /users:
    post:
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  data: {}
                required:
                  - message
        default:
          description: ''
          content:
            '*/*':
              schema: {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                age:
                  type: number
                  minimum: 0
                  maximum: 120
              required:
                - name
                - email
                - age
              additionalProperties: false
  /error:
    get:
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema: {}
        default:
          description: ''
          content:
            '*/*':
              schema: {}
      tags:
        - example-tag
      summary: Error Endpoint
      description: Always throws an error for testing error handling
  /errorWithSchema:
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
        default:
          description: ''
          content:
            '*/*':
              schema: {}
      tags:
        - example-tag
      description: Always throws an error for testing error handling
  /upload:
    post:
      parameters: []
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema: {}
        default:
          description: ''
          content:
            '*/*':
              schema: {}
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  contentEncoding: base64
              required:
                - file
              additionalProperties: false
  /openapi:
    get:
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema: {}
        default:
          description: ''
          content:
            '*/*':
              schema: {}
