openapi: 3.1.3
servers:
  - url: https://api.com
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Enter your JWT token
  schemas: {}
info:
  title: Spiceflow Documentation
  description: Development documentation
  version: 0.0.0
paths:
  /users/{id}:
    get:
      parameters:
        - schema:
            type: string
          in: path
          name: id
          required: true
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema: {}
        default:
          description: ''
          content:
            '*/*':
              schema: {}
      tags:
        - example-tag
  /users:
    post:
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  data: {}
                required:
                  - message
        default:
          description: ''
          content:
            '*/*':
              schema: {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                age:
                  type: number
                  minimum: 0
                  maximum: 120
              required:
                - name
                - email
                - age
              additionalProperties: false
