@import "@code-hike/mdx/styles";
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#__next {
  height: 100%;
}

html {
  /* background: theme('colors.gray.50'); */
  /* make the scroll to section be a bit lower than the top */
  scroll-padding-top: 40px;
  --max-width: 100%;
}

.ch-codeblock code {
  line-height: 1.8;
  font-size: 13px;
}

.ch-codeblock {
  box-shadow: none !important;
  border: 1px solid rgb(229 231 235) !important;
  border-radius: 0px;
}

@media screen(md) {
  html {
    --max-width: 700px;
  }
}

p {
  width: var(--max-width);
}
